<h2>List of Authors</h2>

<table class="table table-hover">
<!-- <table class="table table-responsive">  -->
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Actions</th>
	</tr>
	<% @authors.each do |author| %>
		<tr>
			<td><%= author.first_name %></td>
			<td><%= author.last_name %></td>
			<td>
				<%= link_to("Show", author_path(author)) %>
				<%= link_to("Edit", edit_author_path(author)) %>
				<%= link_to("Delete", delete_author_path(author)) %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to("New Author", new_author_path , :class => 'btn btn-primary', ) %>


